body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: helvetica;
    background-color: #f38630;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header{
    background: #f38630;
    color: white;
    padding-top:10px ;
    min-height: 80px;
    border-bottom: 10px solid #fa6900;
    transition: all 0.5s ease ;
}

header .brand  {
    float: left;
}

header .brand h1{
    margin-top: 10px;;
}

header .logo {
    float: left;
}

header.logo img{
    width: 100px;
}

header nav{
    float: right;
    margin-top: 0;
}

header li{
    float: left;
    display:inline ;
    padding: 15px 20px 0 20px;
}

header a{
    color: white;
    text-decoration:none ;
    text-transform: uppercase;
    font-size: 16px;
}

ul{
    margin: 0;
    padding: 0;
}

header .brand, header .active a{
    color: white;
    font-weight: bold;
}

header a:hover{
    background: #fa6900;
    font-weight: bold;
}

header form{
    float: right;
    margin-top: 5px;
}

header input {
    border: 0;
    padding: 0;
    height: 30px;
    width: 150px;
    font-style: italic;
    font-family: sans-serif;
    font-size: 14px;
}

header button{
    border: 0;
    padding: 0;
    height: 30px;
    width: 75px;
    font-family: sans-serif;
    font-size: 14px;
}

#mainpage{
    min-height: 500px;
    background: #2096ba 0px ;
    text-align: center;
    color: #f4f4f4;
    border-bottom: 10px solid #135589;
    transition: all 0.5s ease ;
}

#mainpage h1{
    margin-top: 200px;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 50px;
}

#mainpage p{
    font-size: 25px;
}


#boxes {
    margin-top: 20px;
    transition: all 0.5s ease ;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 25%;
    padding: 10px;
    margin: 20x 0 0 0 ;
    font-family: helvetica;
}

#boxes .box h3{
    text-transform: uppercase;
    font-size: 18px;
    margin: 5px 0 5px 0;
}

#boxes .box img{
    width: 100px;
}

footer{
    height: 20px;
    background: #df6e21 ;
}
footer h3{
    font-size: 12px;
    font-family: sans-serif;
    font-style: italic;
    color: white;
    text-align: center;
}


@media(max-width: 768px){
	header .brand,
	header nav,
	#boxes .box

	{
		float: none;
		text-align: center;
		width: 100%;
	}

	header{
		padding-bottom: 20px;
	}

	#mainpage h1{
		margin-top: 40px;
	}

	header button{
		display: block;
		width: 100%;
	}

	header input{
        display: block;
		width: 100%;
		margin-bottom: 5px;
        float: inherit;

	}
    header nav li{
        display: block;
		width: 100%; 
    }


}